<div id="search_test">
	<div id="left">
		<div class="search_box">
			<h1>SEARCH</h1>
			<form class="no_submit">
				<input type="text" id="searchQuery">
				<button id="searchButton">Search</button>
			</form>

		</div>
		<div class="results_box">

			<h1>TRACKS</h1>
			<ul class="results track_results">
			</ul>
			<br>

			<h1>ARTISTS</h1>
			<ul class="results artist_results">
			</ul>
			<br>

			<h1>ALBUMS</h1>
			<ul class="results album_results">
			</ul>

		</div>
	</div>
	<div id="right">
		<div id="yt_search_results">
			<div id="yt_header">
				<h1>YouTube RESULTS</h1>
			</div>
			<ul class="results yt_results">
			</ul>
		</div>
		<div id="submit_box">
			<form class="no_submit">
				<button id="submitButton">Submit Training Data</button>
			</form>
		</div>
	</div>
</div>