<h1>Listing queries</h1>
<br>
 
<table>
  <tr>
    <th>Query</th>
    <th>Duration</th>
  </tr>
 
  <% @queries.each do |query| %>
    <tr>
      <td><%= query.query %></td>
      <td><%= query.duration %></td>
    </tr>
  <% end %>
</table>